{#
/**
 * @file
 * Template - Article
 *
 * Available variables:
 * 
 * article__title: Article Title
 * article__text: Article Text
 * article__img_url: Article Image URL
 */
#}
<div class="article__container"

  {% include '@atomic/components/molecules/article/article_card_v1.twig' %}

  {# {% include '@atomic/components/molecules/article/article_card_v2.twig' %} #}

</div>
